
@font-face {
  font-family: 'Apercu Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Regular'), url('resources/fonts/Apercu_Regular.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Italic'), url('resources/fonts/Apercu Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Light';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Light'), url('resources/fonts/Apercu Light.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Light Italic'), url('resources/fonts/Apercu Light Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Medium'), url('resources/fonts/Apercu Medium.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Medium Italic'), url('resources/fonts/Apercu Medium Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Bold'), url('resources/fonts/Apercu Bold.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Bold Italic'), url('resources/fonts/Apercu Bold Italic.woff') format('woff');
}


@font-face {
  font-family: 'Apercu Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Mono Regular'), url('resources/fonts/Apercu Mono.woff') format('woff');
}

body {
  margin: 0;
  font-family: "Apercu Regular, Apercu Italic, Apercu Light, Apercu Light Italic, Apercu Medium, Apercu Medium Italic, Apercu Bold, Apercu Bold Italic, Apercu Mono Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0,0.08);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-theme {
  background-color: rgba(90,97,116,1);
  border-color: rgba(90,97,116,1);  
}

.btn-theme:hover {
  background-color: rgb(75, 80, 94);
  border-color: rgb(75, 80, 95);
}

.btn-theme:active {
  background-color: rgb(75, 80, 94) !important;
  border-color: rgb(75, 80, 95) !important;
}

.btn-theme:focus, .btn-theme.focus {
  outline: 2 !important;
  box-shadow: 0 0 0 0.2rem rgba(75, 80, 94, 0.4) !important;
}

.btn-theme.disabled, .btn-theme:disabled {
  color: #fff;
  background-color: rgb(106, 110, 122) !important;
  border-color: rgb(106, 110, 122) !important;
}
