.container {
    width: 100% !important;
    padding-top: 7em !important;
}

@media (max-width: 375px) {
    .container {
        width: 100% !important;
        padding-top: 4.5em !important;
    }
  }
